<div class="stuff-box">
  <h2 class="page-title">Add School</h2>
</div>

<div class="stats-form desktop-stuff-box-right">
  <%= form_for [:staff, @school] do |f| %>

  <p class="label">
    <span class="form-label-left"><%= f.label :name %></span>
    <%= f.text_field :name %></p><br>

  <p class="label">
    <span class="form-label-left"><%= f.label :address %></span>
    <%= f.text_field :address %></p><br>

  <p class="label">
    <%= f.submit %></span></p><br>
  <% end  %>
</div>