<div>
  School: <%= @school.name %><br>
  Address: <%= @school.address %><br>
  <%= link_to "Edit School Info", edit_staff_school_path(@school) %>
</div>

<div>
  Classrooms:
  <table class="classrooms">
    <% @school.classrooms.each do |classroom| %>
    <tr>
      <td><%= classroom.grade_level %></td>
      <td><%= classroom.teacher_name %></td>
      <td><%= classroom.number_of_students_enrolled %></td>
      <td>
        <ul>
          <% classroom.users.each do |user| %>
            <li><%= "#{user.first_name} #{user.last_name}" %></li>
          <% end %>
        </ul>
      </td>
      <td><%= link_to "Edit", edit_staff_classroom_path(classroom) %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Add Classroom", new_staff_classroom_path %>
</div>
