<div class="stats-form">
<%= form_for(:session, url: login_path) do |f| %>
  <span class="label"><%= f.label :username %></span>
  <%= f.text_field :username %><br>

  <span class="label"><%= f.label :password %></span>
  <%= f.password_field :password %>

  <%= f.submit "Sign In" %>
<% end %>
</div>