<div class="stats-form desktop-stuff-box-right">
  <%= form_for(@user) do |f| %>
    
    <p class="label">
      <span class="form-label-left">
        <%= f.label :first_name %></span>
        <%= f.text_field :first_name %></p><br>
    <p class="label">
      <span class="form-label-left">
        <%= f.label :last_name %></span>
        <%= f.text_field :last_name %></p><br>

    <p class="label">
      <span class="form-label-left">
        <%= f.label :username %></span>
        <%= f.text_field :username %></p><br>

    <p class="label">
      <span class="form-label-left">
        <%= f.label :password %></span>
        <%= f.text_field :password %></p><br>

    <p class="label">
      <span class="form-label-left">
        <%= f.label :language %></span>
        <%= f.select :language, ["english", "spanish"] %></p><br>

    <p class="label">
      <span class="form-label-left">
        <%= f.submit "Create Account" %></span></p><br>
  <% end %>
</div>