<div class="stats-form desktop-stuff-box-right">

  <%= form_for [:staff, @classroom] do |f| %>
    <p class="label">
      <span class="form-label-left">
        <%= f.label :teacher_name %></span>
        <%= f.text_field :teacher_name %></p><br>
    <p class="label">
      <span class="form-label-left">
        <%= f.label :grade_level %></span>
        <%= f.select :grade_level, [['ECE','ECE'],['Kindergarten','Kindergarten'],['First Grade','First Grade']] %></p><br>
    <p class="label">
      <span class="form-label-left">
        <%= f.label :number_of_students_enrolled %></span>
        <%= f.number_field :number_of_students_enrolled, value: @classroom.number_of_students_enrolled ||= 17 %></p><br>
    <p class="label">
      <span class="form-label-left">
        <%= f.submit %></span></p><br>
  <% end %>