<ul class="menu">
  <li class="menu"><%= link_to "View All Users", users_path %></li>
  <li class="menu"><%= link_to "Add Volunteer", new_user_path %></li>
  <li class="menu"><%= link_to "View All Events", staff_events_path %></li>
  <li class="menu"><%= link_to "View All Schools", staff_schools_path %></li>
  <li class="menu"><%= link_to "Add School", new_staff_school_path %></li>
</ul>