<!DOCTYPE html>
<html>
  <head>
    <title>ReadAloudApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <%= render partial: "layouts/navbar_#{current_user.role}" %>
    <% end %>
    <%= flash[:sign_in_error] %>
    <%= yield %>
  </body>
</html>
