<!DOCTYPE html>
<html>
  <head>
    <title>ReadAloudApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: "all" %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if session[:user_id]%>
      <header><img class="dpl-logo navbar" src="<%= image_path('DPL_horiz_2color.jpg') %>"></header>
      <%= render partial: "layouts/navbar_#{current_user.role}" %>
    <% end %>
    <%= flash[:sign_in_error] %>
    <%= yield %>
  </body>
</html>
